@media screen and (max-width:680px){
 

    .header div a{
        display: none;
    }

    .header .logo img{
        height: 40px;
        width: auto;
    }

}

@media screen and (max-width:340px){
    .logogitProd{
    position: fixed;
    left: 20px;
    bottom: 40px;
    }

    .header .logo img{
        height: 13px;
        width: auto;
    }
}